@charset "utf-8";
/* CSS Document */

/*Reset Style Bg*/
body,h1,h2,h3,h4,a,p,span,strong,cite,em,i,ul,li,dl,dt,dd,form,input,fieldset,table{
	margin:0;
	padding:0;}
body{
	font-family:"宋体";
	font-size:12px;}
ul li{
	list-style:none;}
a{
	color:#000;
	text-decoration:none;}
fieldset,img{
	border:0 none;}
cite,em,i{
	font-style:normal;}
h1,h2,h3,h4,strong,b{
	font-weight:normal;}
/*Reset Style End*/

.header{ position:relative; width:100%; height:96px; background:url(../images/topbg.jpg) no-repeat center center;}
.header .logo{ position:absolute; width:282px; display:inline;}
.header .top_right{/* padding-right:20px;*/ position:absolute; left:220px;}
.header .top_right .hd{ padding-top:10px; text-align:right;}
.header .top_right .hd span {background: url(../images/admi.png) no-repeat scroll 0 3px;padding-left: 25px;line-height: 20px;
display: inline-block;}
.header .top_right .hd span img{ float:left; padding-right:8px;}
.header .top_right .hd a{ padding-left:10px;}
.menu{ height:28px; margin-top:38px;}
.menu ul li{ float:left; display:inline; width:80px; height:28px; line-height:28px; background:url(../images/nav.png) no-repeat;/* margin-left:10px;*/ text-align:center;}
.menu ul li.this_menu a{ background:url(../images/hover.png) no-repeat; color:#000;}
.menu ul li a{ display:block;width:80px; height:28px; color:#FFF;}
.menu ul li a:hover{ background:url(../images/hover.png) no-repeat; color:#000;}

.main{ clear:both; padding-right:18px;}

.side{ width:217px; background:url(../images/sidebg.gif) repeat-y; padding:0px 0px 400px 12px;}
.side h3{ height:41px; line-height:41px; background:url(../images/dh.jpg) no-repeat; padding-left:65px; font-family:"微软雅黑"; font-size:20px; color:#FFF; font-weight:600; margin-bottom:10px;}
.side dl{ margin-bottom:10px;}
.side dl dt{ height:28px; line-height:28px; background:url(../images/libg.jpg) no-repeat; padding-left:32px; font-size:14px; font-weight:bold; color:#FFF;}
.side dl dd{ height:30px; line-height:30px; background:url(../images/dian.gif) no-repeat left center; padding-left:15px; margin-left:8px; margin-right:20px; border-bottom:1px #000 dashed;}

.the_right{padding-left:10px; padding-bottom:15px;}
.artdh ul li {float:left; height:24px; line-height:24px; padding-left:10px;}
.artdh ul li strong{ font-weight:bold;}
.the_right .tit{ height:25px; line-height:25px; border-bottom:1px #C6C6C6 solid; font-size:12px; margin-bottom:10px; background:url(../images/tit_deco.jpg) no-repeat left center; padding-left:25px;}
.the_right .tit em{ color:#0665A7; padding-left:5px;}
.the_right .tit span{ padding-left:150px; font-weight:bold;}

.iform label{ padding-left:10px;}
.Select_action{ width:108px; border:1px #CCC solid;}
.Select_one,.Select_three{ width:108px; border:1px #CCC solid;}
.Select_two{ width:112px; height:18px; border:1px #CCC solid; padding-left:2px; background:#F3F3F3;}
.cx{ width:80px; height:20px;line-height:20px; border:1px #999 solid; text-align:center; background:#F3F3F3;}

.inputtxt{ width:280px; height:20px; line-height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.assort{ width:108px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.key{ width:200px; height:18px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
._top{ vertical-align:top;}
.zhaiyao{ width:700px; height:50px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.Article{ width:700px; height:352px; border:1px #CCC solid;}




.bottom{ clear:both; height:60px; background:url(../images/btm.jpg) repeat-x;}
.bottom p{ float:right; padding:28px 38px 0px 0px; color:#FFF;}

/*right2*/
.table_border{width: 100%;/*border:1px solid #4D90DF;*/ border-spacing:0; border-collapse:collapse; border:1px #81BFEE solid;}
.table_border tr,.table_border td{ border-right:1px #81BFEE solid; border-bottom:1px #81BFEE solid; padding:4px 5px;}
.table_border_title{font-weight: bold;font-size:12px;background:url(../images/admin_bg_1.gif) repeat-x;color: white;height:24px;}
.table_border td{ line-height:150%;}
.input_title{ width:280px; height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:0px #CCC solid; background:url(../images/ruler.gif) repeat-x center 6px;}
.bton{ padding:3px; border-right:1px #999 solid; border-bottom:1px #999 solid; border-left:0; border-top:0;}
.pic_bton{ padding:1px 3px; margin-left:5px;}


/*right4*/
.saving{ width:71px; height:26px; background:url(../images/bc.jpg) no-repeat; border:none; font-weight:bold; letter-spacing:5px; text-align:center; margin-top:5px;}

/*right6*/
.inputtxt2{ width:140px; height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.Administrative_privileges{ width:142px; height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.buton{ padding:3px; border-right:2px #999 solid; border-bottom:2px #999 solid; border-left:0; border-top:0; margin-top:20px;}

.inputtxt3{ width:136px; height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}

.input_table{ height:20px; line-height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid; padding-left:2px;}
.Other_services{ width:568px; height:82px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid; padding-left:3px;}
.Prompt{ width:99%; height:126px; border:1px #CCC solid; padding-left:3px;}
.bj_container{ width:99%; height:320px; border:1px #CCC solid; padding-left:3px;}
.world_Bold{ font-weight:bold;}
.a_hover a:hover{ color:#009286; text-decoration:underline;}
.ad_size{ width:45px; height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}

.pages{ margin-top:10px; text-align:center;color:#585858;}
.pages a, .pages strong {height:22px;line-height:22px;display:inline-block;padding:0 2px;color:#585858;border: 1px solid #d2d3d3;vertical-align: middle;border-image: initial;}
.pages span.current{ display:inline-block; height:22px;line-height:22px;font-weight:bold; color: #FFFFFF;border: 1px solid #d2d3d3; padding:0 8px; background:#0066FF;}
.pages a:hover{background:#0066FF;color: #FFFFFF; }
.pages .prv {padding: 0 12px 0 12px;background: url(../images/prevIcon.png) no-repeat 5px center;}
.pages .next{padding: 0 12px 0 12px;background: url(../images/nextIcon.png) no-repeat 50px center;font-weight: normal;font-size: 12px;}

/**==添加按钮样式==**/
.add { float:right; margin-right:40px; }
.add a{ height: 24px; line-height:24px; background: url(../images/addbtn.png) no-repeat scroll left center; color:#FFF; padding-left:25px;display: inline-block;}

.btn {width: 62px;height: 24px;background: url(../images/fasong_44.jpg) no-repeat;border: none;font-weight: bold;
letter-spacing: 5px;text-align: center;color: #FFF;display: inline-block;line-height: 24px;cursor:pointer}
.add { float:right; margin-right:40px; }

.add a{ height: 24px; line-height:24px; background: url(../images/addbtn.png) no-repeat scroll left center; color:#FFF; padding-left:25px;display: inline-block;}

.vmenu h3{ height:24px; line-height:24px; font-size:14px;}
.vmenu p{ height:32px; line-height:32px;border:1px #81BFEE solid; padding-left:10px;}

#reply{ padding:20px 0px 20px 0px;}
#reply p{ width:250px; height:34px; margin:0 auto;}
#reply p label{ display:inline-block; width:70px; text-align:right;}
#reply p a{ display:inline-block; width:71px; height:26px; line-height:26px; background:url(../images/bc.jpg) no-repeat; border:none; font-weight:bold; letter-spacing:5px; text-align:center; margin-top:10px; margin-left:15px;}

.setMenu{ display:inline-block; width:71px; height:26px; line-height:26px; background:url(../images/bc.jpg) no-repeat; border:none; font-weight:bold; letter-spacing:5px; text-align:center; margin-top:10px; margin-left:35px;}

.setMenu1{ display:inline-block; width:71px; height:26px; line-height:26px; background:url(../images/bc.jpg) no-repeat; border:none; font-weight:bold; letter-spacing:5px; text-align:center;  margin-left:35px;}

#localImag{ width:250px; margin:0 auto;}
#localImag img{ padding-top:10px; margin-bottom:10px;}

.Avatar{ padding-left:456px; float:left;}
.AvatarMember{ padding-left:5px; float:left; line-height:45px;}

.addmenu{ padding:15px;}
.addmenu p{ line-height:24px; padding-top:10px;}
.addmenu_btn,.addmenu_btn2{ display:inline-block; width:71px; height:26px; line-height:26px; background:url(../images/bc.jpg) no-repeat; border:none; font-weight:bold; letter-spacing:5px; text-align:center; margin-top:10px;}
.addmenu_btn2{ margin-left:10px;}
.add_dele_menu{background-color: #F9F9F9; padding:10px 0px 10px 10px;}
.add_dele_menu input,.add_dele_menu a{ display:inline-block;}
.add_dele_menu input{width: 286px;background-color: white;height: 20px;
padding: 4px 6px;font-size: 14px;
line-height: 20px;
color: #555;
border: 1px solid #CCC;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	 -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	   -o-transition: border linear 0.2s, box-shadow linear 0.2s;
		  transition: border linear 0.2s, box-shadow linear 0.2s;}
.icon-plus-sign{ width:12px; height:12px; background:url(../images/ui-icons.png) no-repeat; background-position:0px 0px;}
.icon-edit-sign{ width:14px; height:12px; background:url(../images/ui-icons.png) no-repeat; background-position:-14px 0px;}
.icon-remove-sign{width:12px; height:12px; background:url(../images/ui-icons.png) no-repeat; background-position:-30px 0px;}