@charset "utf-8";
/* CSS Document */

*{ margin:auto;}
ul,ol{ list-style: none;}
img{ border: 0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size: inherit;}
i,em{ font-style: 700;}
strong,b{ font-weight: 400;}
input{ outline: none;}
a{ color: #666; text-decoration: none;}
a:hover{ text-decoration: none; color:#ef241e;}
body{font-size: 12px; color: #333;  font-family:Arial, Helvetica, sans-serif; background:#f5f5f5;}

/*Common*/
/*宽度*/
.wrap{ width: 1200px; margin: 0 auto;}

/*浮动*/
.fl{ float:  left;}
.fr{ float: right;}

.header{ height:100px; background:#fff;overflow: hidden;}
.header .logo{ padding:10px 0;}
.header ul{margin: 0 0 0rem 0;}
.header ul li{ float:left; }
.header ul li a{ color:#666; line-height:100px;}
.header ul li i{ padding:10px; color:#666;}
.header .pho{ padding:23px 0;}

.nav{ clear:both; height:45px; background:#0090d7;overflow: hidden; }
.nav ul { padding:0;margin: 0 0 0rem 0;}
.nav ul li{ float:left; border-right:1px solid #20a9ff;}
.nav ul li a{ font-size:14px; color:#fff; font-weight:700; padding:0 20px; line-height:45px;}
.nav dl{ ;margin-top:0rem;margin: 0 0 0rem 0;}
.nav dl dd{ background:#006fa5; float:left; padding: 0 20px}
.nav dl dd a{ line-height:45px; color:#fff;}
.nav dl dd i{ padding:0 10px; position:relative; top:0px;}
.nav dl .on{ border-right:1px solid #20a9ff;}
.nav ul li:hover{ background:#ff8302;}

/*搜索表*/
.banner .am-slider .am-slides img { height:430px;}
.search-box{ width:491px; height:320px; clear:both; position: absolute; top: 200px; left:50%; margin-left: -540px;}
.form-title{ height:50px; background:url(../images/img1.png) no-repeat; border-bottom:1px solid #ff8302;}
.form-title h3 { padding:0 20px;  }
.form-title h3 a{ font-size:14px; color:#333; line-height:50px;}
.form-title h3 a:hover{ color:#ff8302;}
.search-content{ height:270px; background:#fff;}
.home-hotel{ padding-top:10px; }

.mdd p{ margin-top:15px;}
.mdd p label{ width:70px; text-align:right; padding-right:10px; display: block;float: left; line-height:30px;font-weight: 400;}
.mdd span{ color:#666; margin-left:10px; line-height:30px;}
.mdd input[type=text]{ width: 160px; height:28px; border:1px solid #ddd; border-radius:3px;padding-left:10px; color:#666;}
.rz { clear:both}
.rz p{ margin-top:15px; float:left;margin: 16px 0 0rem 0;font-weight: 400;}
.rz p label{ width:70px !important; text-align:right; padding-right:10px; display: block;float: left; line-height:30px; font-weight: 400;}
.rz input[type=text]{ width: 160px; background:url(../images/ico9.png) no-repeat 135px center; height:28px; border:1px solid #ddd; border-radius:3px;padding-left:10px; color:#666;}
.rz p .ld{ width:30px;}
.gjc{clear:both; padding-top:15px;}
.gjc p{ }
.gjc p label{ width:70px; text-align:right; padding-right:10px; display: block;float: left; line-height:30px;font-weight: 400;}
.gjc input[type=text]{ width: 390px; height:28px; border:1px solid #ddd; border-radius:3px;padding-left:10px; color:#666;}
.search-submit{ margin:20px auto 20px 70px; width:150px; height:30px; border-radius:3px; background:#ff8302;}
.search-submit h3{ text-align:center;}
.search-submit h3 a{ font-size:14px; line-height:30px; color:#fff; }
.rsb{ }
.rsb ul{ margin-left:30px; }
.rsb ul li{ float:left; padding-right:10px;}






/*热门酒店*/
.rmjd{ }
.title{ }
.title-t{width:340px; }
.title-t img{ padding:30px 0;}
.title ul{width:424px; margin:auto;  }
.title ul li{ float:left; padding:0 20px;}
.title ul li a{ line-height:30px; color:#333;}
.title ul li:hover{ background:#ff8302; border-radius:30px; }
.title ul li.active{background:#ff8302; border-radius:30px;}
.title ul li:hover a{ color:#fff}
.title ul li.active a{ color:#fff}
.rmjd-main{ clear:both; height:615px; }
.rmjd-main01{ width: 33.33%; height:291px; float:left; margin-top:18px; text-align: center;}
.rmjd-main01 img{ width:388px; height:291px; }
.rmjd-main01 h3{ width: 388px; margin-left: 5px; height:40px;  background-color:rgba(0,0,0,0.6); position:relative; top:-40px; margin-top: 0em;text-align: left; }
.rmjd-main01 h3 a{font-size:14px; color:#fff; line-height:40px; padding-left:15px; }
.rmjd-main01 h3 a span{ padding:0 5px;}
.rmjd-main01 h3 a .jg{ font-size:20px; color:#ff8302;}
.mar{ margin:18px 18px 0 18px;}
.submit{ clear:both; height:35px;display: absolute; left: 50%; position: absolute;}
.submit h3{ position: relative;left: -50%; width:150px;  height:35px; background:#ff8302; border-radius:5px; clear:both; text-align:center; margin-top:30px;}
.submit h3 a{ line-height:35px; font-size:14px; color:#fff;  }

.am-util-item .am-util-item-body{
    display: none;
}
.am-util-item .am-util-item-body.active{
    display: block;
}



/*特色主题*/
.tszt{ clear:both; margin-top:62px;}
.tszt-title{width:340px; }
.tszt-title img{ padding:30px 0;}

.fold_wrap{height:260px;margin:0px auto 0 auto;overflow:hidden; padding-left:0em;}
.fold_wrap li{float:left;width:130px;height:260px;position:relative;overflow:hidden;cursor:pointer;}
.fold_wrap li .mask_b{position:absolute;overflow:hidden;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.3);_background:#B2B2B2;}
.fold_wrap li.active .mask_b{background:none;}
.fold_wrap li .mask_b h4{color:#fff;width:30px;margin:0 auto;display:block;font:30px/30px Microsoft Yahei;position:relative;padding:30px 0 0 0;}
.fold_wrap li.big{width:322px;}
.fold_wrap li .adv_intro{ width:92%; height:40px; padding:5px 4%; position:absolute;left:0; bottom:-50px;background:#37D; color:#FFF; overflow:hidden;}
.adv_intro_show{bottom:0 !important; transition:bottom 0.3s linear 0.3s; -webkit-transition:bottom 0.3s linear 0.3s;}

.pic_auto{width:100%;height:100%;}




/*推荐品牌*/
.tjpp-main{}
.tjpp-mian01{width:232px; height:150px;  float:left; background:url(../images/index2_17.png) no-repeat; margin-right:8px;}
.tjpp-mian01 ul{ text-align:center; padding:0; margin-top:30px;}
.tjpp-mian01 ul li img { box-shadow:0px 0px 20px #333; background: #fff; filter: alpha(opacity=80); opacity: 0.8;}
.tjpp-mian01 ul li a{ line-height:50px; font-size:20px; color:#fff;}
.pp05{ margin:0}


/*底部开始*/
.footer{ clear:both; padding-top:30px;  }
.gypc{ height:180px; background:#eeeeee; padding:30px 0;}
.gypc-01{ width:185px; float:left; margin-right:20px;}
.gypc-01-l{width:35px; }
.gypc-01-l img:hover{
	-webkit-animation: Tada 1s both;
    -moz-animation: Tada 1s both;
    -ms-animation: Tada 1s both;
    animation: Tada 1s both}
.gypc-01 ul{ width:140px; border-right:1px dotted #ddd;margin: 0 0 0rem 0; }
.gypc-01 ul li a{ color:#666; line-height:30px;}
.gypc-01 ul h3{ font-size:14px; font-weight:700; margin: 0 0 0rem 0; color:#666; line-height:35px;}
.sys{}
.sys ul li{ font-weight:700; color:#666; }


@keyframes Tada {
    0% {
        transform: scale(1);
        transform: scale(1)
    }

    10%,20% {
        transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }

    30%,50%,70%,90% {
        transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }

    40%,60%,80% {
        transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }

    100% {
        transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}




.bz{ clear:both; height:69px; background:#1e95d7;}
.bz ul {line-height:69px;padding-left: 0em; margin: 0 0 0rem 0;}
.bz ul li { width:25%; text-align:center; color:#FFF; float:left; font-size:18px;}
.bz ul li img { margin-right:10px;}
.bz ul li img:hover{
    -webkit-animation: Tada 1s both;
    -moz-animation: Tada 1s both;
    -ms-animation: Tada 1s both;
    animation: Tada 1s both
}


.f-b{ clear:both; padding-top:20px;}
.f-b ul{text-align:center;  }
.f-b ul li{ display:inline; padding:0 10px; }
.f-b p{ clear:both; text-align:center; line-height:30px; color:#666;}
.f-b .link{text-align:center;}
.xr{ clear:both; padding:20px 0; text-align:center;}
.xr img{ width:928px;}

























































