@charset "utf-8";
/* CSS Document */

/*Reset Style Bg*/
body,h1,h2,h3,h4,a,p,span,strong,cite,em,i,ul,li,dl,dt,dd,form,input,fieldset,table,select,option{
	margin:0;
	padding:0;}
body{
	font-family:"微软雅黑";
	 font-size:12px;}
ul li{
	list-style:none;}
a{
	color:#000;
	text-decoration:none;}
fieldset,img{
	border:0 none;}
img{ vertical-align:top;}
cite,em,i{
	font-style:normal;}
h1,h2,h3,h4,strong,b{
	font-weight:normal;}
.clear{ clear:both;}
/*Reset Style End*/
#headder{ width:1048px; height:116px; margin:0 auto; background:url(../images/hd.jpg) no-repeat;}
.hd{ height:42px; line-height:42px; text-align:right; color:#FFF; padding-right:10px; letter-spacing:1px; margin-bottom:40px;}
.hd a{ color:#FFFFFF;}
.hd span{ color: #efa301;}
.gly{background:url(../images/gly.png) no-repeat 12px center; padding-left:30px;}
#navigator{ width:378px; height:34px; margin-left:588px;}
#navigator ul li{ float:left; height:34px; line-height:34px; font-size:14px; padding:0 7px;}

#container{ width:1048px; margin:0 auto;}
.sideleft{ float:left; display:inline; width:193px; min-height:820px; margin-left:20px; background:url(../images/jbbg.jpg);}
.sideleft .title{ height:39px; background:url(../images/tit.jpg) no-repeat; font-size:14px; text-indent:-9999em;}
.collapsed span{ display:inline-block; width:193px; height:40px; line-height:40px; background:url(../images/btbg.jpg) no-repeat; font-size:14px; color:#FFF; text-align:center; cursor:pointer;}
.collapsed a{ display:block; height:33px; line-height:33px; background:url(../images/libg.jpg) no-repeat; color:#FFF; text-align:center; padding-left:10px;}
.collapsed a:hover{ display:block; height:33px; line-height:33px; background:url(../images/hover.jpg) no-repeat; color:#FFF; text-align:center; padding-left:10px;}

.sideright{ float:left; width:832px; background:#F1F1F1; border-right:1px #dadada solid;}
.sideright .title{ width:776px; height:36px; line-height:36px; border:1px #D5D5D5 solid; margin:4px auto 0; font-size:14px; background:url(../images/deco.jpg) no-repeat 12px center; padding-left:35px;}
.sideright h4{ height:30px; border-bottom:2px #EFA301 solid; margin:15px 0px 15px 0px;}
.sideright h4 strong{ display:inline-block; width:142px; height:30px; line-height:30px; background:#EFA301; margin-left:35px; text-align:center; color:#FFF; font-size:14px; font-weight:bold;}

.iform label{ padding-left:10px;}
.Select_action{ width:108px; border:1px #CCC solid;}
.Select_one,.Select_three{ width:108px; border:1px #CCC solid;}
.Select_two{ width:112px; height:18px; border:1px #CCC solid; padding-left:2px; background:#F3F3F3;}
.cx{ width:80px; height:20px; border:1px #999 solid; text-align:center; background:#F3F3F3;}

.inputtxt{ width:280px; height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.assort{ width:108px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.key{ width:200px; height:18px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
._top{ vertical-align:top;}
.zhaiyao{ width:460px; height:82px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.Article{ width:700px; height:352px; border:1px #CCC solid;}

.iform{ margin-left:20px; margin-bottom:10px;}
.tb_title{ height:26px; background:url(../images/tb_title.gif) repeat-x; border:none;}
.tb_title td a{ display:inline-block; margin-left:15px;}
.tb_title td .Save{ width:53px; height:22px; line-height:22px; text-align:center; background:url(../images/save.jpg) no-repeat; padding-left:10px;}
.tb_title td .adjunction{ height:15px; background:url(../images/adj.jpg) no-repeat; padding-left:20px;}
.tb_title td .Delete{ height:13px; background:url(../images/delete.jpg) no-repeat; padding-left:20px;}
.tb_title td .Modify{ height:17px; background:url(../images/xg.jpg) no-repeat; padding-left:18px;}
.tb_title td .Export{ height:13px; background:url(../images/dc.jpg) no-repeat; padding-left:16px;}
.tb_title td .Print{ height:16px; background:url(../images/dy.jpg) no-repeat; padding-left:18px;}

.footer{ clear:both; width:1024px; margin:20px auto 0; height:39px; background:url(../images/footer.jpg)}
.footer p{ text-align:center; line-height:39px; color:#FFF;}
.footer a{ color:#FFFFFF;}
.table_border{width:96%; margin:0 auto; border-spacing:0; border-collapse:collapse; border:1px #FFF solid;}
.table_border tr,.table_border td{ border:1px #FFF solid; padding:5px 5px;}
.table_border_title{font-weight: bold;font-size:12px;background:#dcedfd;height:24px;}
.table_border td{ line-height:150%;}
.hotel_sheshi ul{}
.hotel_sheshi ul li{ float:left; width:110px; white-space:nowrap;}
.input_title{ width:280px; height:20px; line-height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:0px #CCC solid; background:url(../images/ruler.gif) repeat-x center 6px;}
.bton{ padding:3px; border-right:1px #999 solid; border-bottom:1px #999 solid; border-left:0; border-top:0;}
.pic_bton{ padding:1px 3px; margin-left:5px;}
.input_table{ height:20px; line-height:20px; border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid; padding-left:2px;}
.Other_services{ width:696px;border-top:1px #999 solid; border-left:1px #CCC solid; border-right:1px #CCC solid; border-bottom:1px #CCC solid;}
.Prompt{ width:99%; height:126px; border:1px #CCC solid; padding-left:3px;}
.bj_container{ width:99%; height:320px; border:1px #CCC solid; padding-left:3px;}
.buton{ padding:3px; border-right:2px #999 solid; border-bottom:2px #999 solid; border-left:0; border-top:0;}

.table_border2{width:46%; border-spacing:0; border-collapse:collapse; border:1px #FFF solid;}
.table_border2 tr,.table_border2 td{ border:1px #FFF solid; padding:5px 5px;}
.table_border2 td{ line-height:150%;}

.world_Bold {font-weight: bold;}