	*{margin:0px;padding:0px;}

			li{list-style:none;}
.WapCalendar{ height:100%;font-family:'微软雅黑';}
.WapCalendar .cons{border-bottom: #CCC 1px solid;height:50px;line-height:50px; background:#FFF; color:#000;}
.WapCalendar .cons span{ float:right; padding-right:20px;}
.WapCalendar .cons cite{ float:left; padding-left:10px;}
.WapCalendar .input2{display: inline-block;width: 50px;text-align: center;height: 30px;line-height: 30px;border-radius: 3px;background:#F5F5F5;-webkit-box-sizing: border-box;border:1px #c7c7c7 solid;margin: 0 3px;color: #555555;}
.WapCalendar .op3{display: inline-block;width: 50px;text-align: center;height: 30px;line-height: 30px;border-radius: 3px;background: #3092ff;-webkit-box-sizing: border-box;border: 0;margin: 0 3px;color: #ffffff;}
.WapCalendar .op1{display: inline-block;width: 50px;text-align: center;height: 30px;line-height: 30px;border-radius: 3px;background:#C8C8C8;-webkit-box-sizing: border-box;border: 0;margin: 0 3px;color: #ffffff;}
.WapCalendar .selectDatys{ clear:both; height:60px; line-height:55px; background:#FFF url(../images/bombg.jpg) repeat-x left bottom;}
.WapCalendar .selectDatys .sp1{ float:left; padding-left:10px;}
.WapCalendar .selectDatys .sp2{ float:right; padding-right:20px;}
.WapCalendar .ydselectOk{ position:fixed; bottom:0; width:100%; height:50px; line-height:50px; background:#2273CE; text-align:center;}
.WapCalendar .ydselectOk input{ width:100%; height:100%; text-align:center; border:none; background:none;font-family:'微软雅黑';font-size:18px; letter-spacing:10px; color:#FFF; cursor:pointer;}
			#calendar{

				/*width:567px;*/

				height:auto;

				background:url(./images/bg1.jpg) no-repeat 0px 0px;

				margin:20px auto;

				overflow:hidden;

				font-family:'微软雅黑';

			}

			#calendar .select{}

			#calendar .select .time{ position:relative; height:50px; line-height:50px; text-align:center; background:#FFF url(../images/bombg.jpg) repeat-x left bottom;}

			#calendar .select .time a{

				display:inline-block; position:absolute;top:10px;

				width:22px;

				height:22px;

			}
			#calendar .select .time .btnPre{
				left:10px; 
				background:url(../images/btnleft.jpg) no-repeat;

			}

			#calendar .select .time .btnNext{ right:10px;

				background:url(../images/btnright.jpg) no-repeat;

			}

			#calendar .select .time .year{

				/*width:64px;*/

				height:27px;

				float:left;

				margin-left:2px;

				position:relative;

				z-index:1;

			}

			#calendar .select .time .month{

				/*width:39px;*/

				height:27px;

				float:left;

				margin-left:2px;

				position:relative;

				z-index:1;

			}

			#calendar .select .time span{

				width:100%;

				height:27px;

				line-height:27px;

				color:#503f25;

				font-size:20px;

				text-indent:3px;

				cursor:pointer;

			}

			#calendar .select .time span i{

				font-style:normal;

			}

			#calendar .select .time select{

				position:absolute;

				width:64px;

				top:27px;

				border:0px;

				display:none;

				z-index:1;

			}

			#calendar table{

				/*width:460px;*/ margin:20px auto;

				height:294px; background:#FFF;

				position:relative;

				border-collapse: collapse;

				z-index:0;

			}

			#calendar table thead th{

				width:90px;

				height:32px;

				background:#39F;

				font-size:14px;

				font-weight:100;

				background-color: #154A9B;

				color:#FFF;

			}

			#calendar table thead th.red{

				color:#FFEB00;

			}

			#calendar table tbody td{

				text-align:center;

				width:90px;

				height:52px;

				cursor:pointer;

				font-family:Arial;

			}

			#calendar table tbody td span{

				color:#A0A0A0;

			}

			#calendar table tbody td.hover{

				background-color:#EBEFF4;

			}

			#calendar table tbody td.active{

				color:#000;

				background-color: #EBEFF4;

			}

			#calendar table tbody td.selected{

			display: block;

			height: 100%;

			border: 1px solid #3092ff;

			color: #989898;

			-webkit-box-sizing: border-box;

			}

			.dhx_month_head{

			background-color: #EBEFF4;

			color: #2F3A48;

			border-right: 1px dotted #586A7E;

			height: 18px;

			padding-right: 5px;

			padding-top: 3px;

			text-align: right;

			}

			

			.dhx_month_body {

			border-right: 1px dotted #586A7E;

			border-bottom: 1px dotted #586A7E;

			margin-top:10px;

			

			}

			

			#dhx_month_body{color:#00C;}

		

			

			.clear{ clear:both;}

			.cald{/* width:470px;*/}

			#other{ float:left; margin-left:20px; width:270px;}

			.other_t{ font-size:14px; line-height:40px;}

			#other ul { line-height:40px;}

			#week{  display:inline; margin-left:10px;}